APP_URL=""
SERVER_SECRET=""

# Better Auth
BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""

# OpenRouter
OPENROUTER_API_KEY=""
OPENROUTER_TITLE="Facilix"
OPENROUTER_REFERER=""
OPENROUTER_MODEL=""

# Model Configuration
ROBOFLOW_API_KEY=""
VISION_OBJECT_MODEL=""
VISION_VEHICLE_MODEL=""

# Simulator
VITE_SIMULATOR_API_URL=""
SIMULATOR_URL=""
SIMULATOR_TOKEN=""

# Fly
FLY_API_TOKEN=""
FLY_APP_NAME=""
