BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
OPENROUTER_API_KEY=""
OPENROUTER_MODEL="openrouter/auto"
OPENROUTER_REFERER="https://facilix.dennise.me"
OPENROUTER_TITLE="Facilix"
ROBOFLOW_API_KEY=""
VISION_OBJECT_MODEL=""
VISION_VEHICLE_MODEL=""
